body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url(../src/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav-right {
    margin: auto;
}
.about-us {
    text-align: center;
    background-image: url(../src/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.equipment {
    background-image: url(../src/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-w h1, p{
    color: white;
    font-weight: bold;
    text-align: center;
}
.main section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main .introdaction h3 {
    text-align: center;
    margin-bottom: 20px;
}

.main .introdaction hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main .introdaction .image img {
    width: 100%;
}

footer {
    padding-top: 15px;
    color: #fff;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}
.btn-link {
    color: black;
}
.images img  {
    padding: 15px; /* Расстояние от картинки до рамки */
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
   }