body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: url(../src/bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.nav-right {
    margin: auto;
}
.about-us {
    text-align: center;
    background-image: url(../src/green.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.equipment {
    background-image: url(../src/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-w h1, p{
    color: white;
    font-weight: bold;
    text-align: center;
}
.main section {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main .introdaction h3 {
    text-align: center;
    margin-bottom: 20px;
}

.main .introdaction hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main .introdaction .image img {
    width: 100%;
}

footer {
    padding-top: 15px;
    color: #fff;
}

@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}
.btn-link {
    color: black;
}
.image-center, .gallery img  {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: super;
}
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}
.cards .row .col-md-6 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.cards .row .col-md-6 .card {
    display: inline-flex;
    cursor: pointer;
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 1px solid #d6d6d6;
    border-radius: 15px;
    padding:50px;
    width: 100%;
}
.cards .row .col-md-6 .card:hover {
    -webkit-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
    -moz-box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.25);
}
.card-img-top {
    height: 260px;
    width: 50%;
}